@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 245, 245, 245;
  --header-offset: 50px;
  --sidebar-width: 200px;
  --primary-color: #8000ff;
}

/* backlog: dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.sidebar-frame {
  width: var(--sidebar-width);
  z-index: 40;
}

.sidebar {
  width: var(--sidebar-width);
  position: fixed;
  height: calc(100% - var(--header-offset));
}

.nav-item:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.nav-exit:hover {
  color: rgb(243, 84, 84);
  cursor: pointer;
}

.header-height {
  height: var(--header-offset);
}

.header-offset {
  padding-top: var(--header-offset);
}

.hyperlink {
  color: blue;
}

.error {
  color: red;
}

.button {
  cursor: pointer;
}
.button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 42px;
    overflow: hidden;
  }
  .sidebar-frame {
    width: 42px;
  }
  .sidebar-label {
    display: none;
  }
}
